<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.openeet.openeet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterSale"
            android:label="@string/title_register_sale"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.openeet.openeet.MainActivity" />
        </activity>
        <activity
            android:name=".SaleDetailActivity"
            android:label="@string/title_activity_sale_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.openeet.openeet.MainActivity" />
        </activity>
        <activity
            android:name=".CertificateImport"
            android:label="@string/title_activity_certificate_import"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.RUN" />
                <action android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pkcs12" />
                <data android:mimeType="application/x-pkcs12" />
                <data android:mimeType="application/x-ahoj" />

                <data android:scheme="data" />
                <data android:scheme="file" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:scheme="file" android:host="*" android:pathPattern=".*p12" />
            </intent-filter>


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.openeet.openeet.MainActivity" />
        </activity>
    </application>

</manifest>